@import url(//fonts.googleapis.com/css?family=Roboto:400,300&subset=latin,latin-ext);
*
{
	box-sizing: border-box;
}
body
{
	background-color: #FAFAFA;
	font-family: 'Roboto', sans-serif;
	font-size: 1.5em;
	font-weight: 300;
	margin: 0em;
}
table
{
	margin-top: 0.67em;
}
h1
{
	color: #2196F3;
	font-size: 2em;
	font-weight: 300; margin-bottom: -0.17em;
}
data
{
	font-weight: 400;
}
div
{
	height: 20em;
	width: 100%;
}
status
{
	font-size: 0.67em; font-weight: 400; margin-left: 0.33em;
}
status.connect
{
	color: #4CAF50;
}
status.connect_error
{
	color: #FF5722;
}
status.reconnect_attempt
{
	color: #FFC107;
}
